Repository guacsec/trustify, pull requests merged in 2024-03, with the labels that each got.

#32 CI set-up frontend container image continuous creation
  .github/workflows/build-push-images.yaml
  .github/workflows/frontend-image-build.yaml
  .github/workflows/frontend.yaml
  frontend/.containerignore
  frontend/.npmrc
  frontend/Containerfile
  frontend/README.md
Labels: frontend, ci

#45 "Score" => "Severity" conversion to be done in the backend and not in the UI
  frontend/client/src/app/api/model-utils.ts
  frontend/client/src/app/api/models.ts
  frontend/client/src/app/components/SeverityProgressBar.tsx
  frontend/client/src/app/components/SeverityShieldAndText.tsx
  frontend/client/src/app/pages/advisory-details/advisory-details.tsx
  frontend/client/src/app/pages/advisory-details/overview.tsx
  frontend/client/src/app/pages/advisory-details/source.tsx
  frontend/client/src/app/pages/advisory-details/vulnerabilities.tsx
  frontend/client/src/app/pages/advisory-list/components/VulnerabilitiesCount.tsx
  frontend/client/src/app/pages/advisory-list/useAdvisoryList.tsx
  frontend/client/src/mocks/stub-new-work/advisories.ts
Labels: frontend

#48 feature: Implement pages SBOMs, CVEs, and Packages
  frontend/client/src/app/Routes.tsx
  frontend/client/src/app/api/model-utils.ts
  frontend/client/src/app/api/models.ts
  frontend/client/src/app/api/rest.ts
  frontend/client/src/app/components/AdvisoryVulnerabilitiesTable.tsx
  frontend/client/src/app/components/CveGallery.tsx
  frontend/client/src/app/hooks/useDownload.ts
  frontend/client/src/app/layout/sidebar.tsx
  frontend/client/src/app/pages/advisory-details/advisory-details.tsx
  frontend/client/src/app/pages/advisory-details/cves.tsx
  frontend/client/src/app/pages/advisory-details/overview.tsx
  frontend/client/src/app/pages/advisory-list/components/CVEsGaleryCount.tsx
  frontend/client/src/app/pages/advisory-list/components/VulnerabilitiesCount.tsx
  frontend/client/src/app/pages/advisory-list/useAdvisoryList.tsx
  frontend/client/src/app/pages/cve-details/cve-details.tsx
  frontend/client/src/app/pages/cve-details/index.ts
  frontend/client/src/app/pages/cve-details/related-advisories.tsx
  frontend/client/src/app/pages/cve-details/related-sboms.tsx
  frontend/client/src/app/pages/cve-details/source.tsx
  frontend/client/src/app/pages/cve-list/cve-list.tsx
  frontend/client/src/app/pages/cve-list/index.ts
  frontend/client/src/app/pages/cve-list/useCveList.tsx
  frontend/client/src/app/pages/home/home.tsx
  frontend/client/src/app/pages/package-details/index.ts
  frontend/client/src/app/pages/package-details/package-details.tsx
  frontend/client/src/app/pages/package-details/related-cves.tsx
  frontend/client/src/app/pages/package-details/related-sboms.tsx
  frontend/client/src/app/pages/package-list/index.ts
  frontend/client/src/app/pages/package-list/package-list.tsx
  frontend/client/src/app/pages/package-list/usePackageList.tsx
  frontend/client/src/app/pages/sbom-details/cves.tsx
  frontend/client/src/app/pages/sbom-details/dependency-analytics.tsx
  frontend/client/src/app/pages/sbom-details/index.ts
  frontend/client/src/app/pages/sbom-details/overview.tsx
  frontend/client/src/app/pages/sbom-details/packages.tsx
  frontend/client/src/app/pages/sbom-details/sbom-details.tsx
  frontend/client/src/app/pages/sbom-details/source.tsx
  frontend/client/src/app/pages/sbom-list/index.ts
  frontend/client/src/app/pages/sbom-list/sbom-list.tsx
  frontend/client/src/app/pages/sbom-list/useSbomList.tsx
  frontend/client/src/app/queries/cves.ts
  frontend/client/src/app/queries/packages.ts
  frontend/client/src/app/queries/sboms.ts
  frontend/client/src/mocks/stub-new-work/advisories.ts
  frontend/client/src/mocks/stub-new-work/cves.ts
  frontend/client/src/mocks/stub-new-work/index.ts
  frontend/client/src/mocks/stub-new-work/packages.ts
  frontend/client/src/mocks/stub-new-work/sboms.ts
Labels: frontend

#46 changed all the println to use log::info | debug
  backend/api/src/system/advisory/csaf/mod.rs
  backend/api/src/system/mod.rs
  backend/api/src/system/sbom/mod.rs
  backend/api/src/system/sbom/spdx.rs
  backend/cli/src/main.rs
Labels: backend
